@page "/SingleSelect"

<PageTitle>Single Select</PageTitle>

<div class="row">
    <div class="col-md-6">
        <SingleSelect TEntity="Student"
                      @bind-Value="selectedStudent"
                      DefaultSelectLabel="Select ..."
                      Datasource="@students" />
    </div>
    <div class="col-md-6">
        @if (selectedStudent != null)
        {
            <p>You select student of id @selectedStudent.Id and name @selectedStudent.Name</p>
        }
    </div>
</div>


@code {
    List<Student> students = new();
    Student selectedStudent = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        students = new List<Student>{
           new Student{ Id= 1, Name="Sara" },
           new Student{ Id= 2, Name="Sally" },
           new Student{ Id= 3, Name="Bob" },
           new Student{ Id= 4, Name="John" },
           new Student{ Id= 5, Name="Smith" },
           new Student{ Id= 6, Name="Mark" }
        };
    }
}